<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.mail.mailhackathonapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="ru.rhdv.springhackapplication.MHApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
            android:fullBackupContent="true">
        <activity android:name="ru.rhdv.springhackapplication.ui.splash.view.SplashActivity"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ru.rhdv.springhackapplication.ui.login.view.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="ru.rhdv.springhackapplication.ui.developer_section.main.view.DeveloperSectionActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="ru.rhdv.springhackapplication.ui.scrum_section.main.view.ScrumSectionActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="ru.rhdv.springhackapplication.ui.scrum_section.create_team.view.CreateTeamActivity"
                  android:screenOrientation="portrait"/>
        <activity
                android:name="ru.rhdv.springhackapplication.ui.scrum_section.create_team.set_sprint.view.SetSprintActivity"
                android:screenOrientation="portrait"/>
    </application>

</manifest>